body{
    background-color: #333;
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.time, .reference{
    color: white;
    width: 25rem;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.time{
    transform: rotate(270deg);
}


.clock{
    display: flex;
    justify-content: center;
    align-items: center;
}

.reference{
    width: 5rem;
    align-items: flex-start;
}

circle{
    fill: transparent;
    stroke-width: 10px;
    stroke: black;
}

circle:nth-child(2){
    stroke: var(--clr);
    stroke-dasharray: 1005;
}

/*
#seccircle{
    stroke-dashoffset:  
}

#mincircle{
}

#hrcircle{
}*/

.dot{
    width: 20.6rem;
    height: 20.6rem;
    position: absolute;
    inset: 2.1rem 0rem 0rem 2.2rem;

}

.secdot{
    transform: rotate(calc(var(--curr)*6deg));
}

.mindot{
    transform: rotate(calc(var(--currMin)*6deg));
}

.hrdot{
    transform: rotate(calc(var(--currHr)*15deg));
}

.dot::before{
    content: '';
    position: absolute;
    top: 9.7rem;
    left: 19.65rem;
    width: 20px;
    height: 20px;
    background: var(--clr);
    border-radius: 10rem;
    box-shadow: 0 0 20px var(--clr);
}

#hours, #minutes, #seconds{
    position: absolute;
    transform: rotate(90deg);
    font-size: 3.5rem;
}

#hours::before{
    color: white;
    position: relative;
}

.reference{
    margin-top: 5rem;
    margin-left: -2rem;
    font-size: 2.5rem;
}

.clear {
    clear: both;
}

.display-container {
    transform: scale(0.5) rotate(90deg);
    position: relative;
    float: center;
}

.display-container div.segment-x,
.display-container div.segment-y {
    position: absolute;
}

.display-container span.segment-border {
    display: block;
    position: absolute;
}

.display-container.display-size-12 {
    width: 122px;
    height: 220px;
}

.display-container.display-size-12 .segment-x {
    width: 72px;
    left: 13px;
    border-bottom: 12px solid red;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
}

.display-container.display-size-12 .segment-x .segment-border {
    top: 12px;
    left: -12px;
    right: -12px;
    border-top: 12px solid red;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
}

.display-container.display-size-12 .segment-y {
    height: 72px;
    width: 0;
    border-right: 12px solid red;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
}

.display-container.display-size-12 .segment-y .segment-border {
    position: relative;
    left: 12px;
    height: 72px;
    margin-top: -12px;
    border-left: 12px solid red;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
}

.display-container.display-size-12 .segment-a {
    top: 0;
}

.display-container.display-size-12 .segment-b {
    top: 13px;
    left: 98px;
}

.display-container.display-size-12 .segment-c {
    top: 111px;
    left: 98px;
}

.display-container.display-size-12 .segment-d {
    top: 196px;
}

.display-container.display-size-12 .segment-e {
    top: 111px;
    left: 0px;
}

.display-container.display-size-12 .segment-f {
    top: 13px;
    left: 0px;
}

.display-container.display-size-12 .segment-g {
    top: 98px;
}

.display-no-1 .segment-a,
.display-no-1 .segment-d,
.display-no-1 .segment-e,
.display-no-1 .segment-f,
.display-no-1 .segment-g {
    /*display: none;*/
    opacity: 0.1;
    filter: alpha(opacity=10);
}

.display-no-2 .segment-c,
.display-no-2 .segment-f {
    /*display: none;*/
    opacity: 0.2;
}

.display-no-3 .segment-e,
.display-no-3 .segment-f {
    /*display: none;*/
    opacity: 0.2;
}

.display-no-4 .segment-a,
.display-no-4 .segment-d,
.display-no-4 .segment-e {
    /*display: none;*/
    opacity: 0.2;
}

.display-no-5 .segment-b,
.display-no-5 .segment-e {
    /*display: none;*/
    opacity: 0.2;
}

.display-no-6 .segment-b {
    /*display: none;*/
    opacity: 0.2;
}

.display-no-7 .segment-d,
.display-no-7 .segment-e,
.display-no-7 .segment-f,
.display-no-7 .segment-g {
    /*display: none;*/
    opacity: 0.2;
}

.display-no-8 {}

.display-no-9 .segment-e {
    /*display: none;*/
    opacity: 0.2;
}

.display-no-0 .segment-g {
    /*display: none;*/
    opacity: 0.2;
}

/* clock */

#display-2, #display-4 {
}

#vertical-center {
    position: absolute;
    top: 1.5rem;
    left: 38%;
}

#display-2, #display-4, #display-6{
    margin-top: -115px;
    margin-left: -10px;
}


#display-1, #display-3, #display-5{
    margin-top: 15px;
    margin-left: -10px;   
}